{% extends "base.html" %} {% block content %}
<h3>Welcome, dear courier {{ current_user.name }}!</h3>
<p>
  Session Status:
  {% if current_user.in_session() %} 
    Session in Progress 
    <form method="post" action="/courier/session/end">
        <input class="btn" type="submit" name="submit" value="End Session">
    </form>  

   {% else%} 
    Not In Session
    <form method="post" action="/courier/session/start">
        <input class="btn" type="submit" name="submit" value="Start Session">
    </form> 
    {% endif %}
</p>
{% endblock %}
