<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ᗺolt Food</title>
        <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="ᗺolt Logo" class="logo" src="{{ url_for("static", filename="images/logo.png") }}">
        ᗺolt Food
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for("index") }}">Home</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.type and current_user.type not in ["customer", "user"] %}
                    <li><a href="{{ url_for(current_user.type) }}">Dashboard</a></li>
                    {% if current_user.type and current_user.type == "courier" %}
                        <li><a href="{{ url_for("missions") }}">Missions</a></li>
                    {% endif %}
                {% elif current_user.type and current_user.type == "customer" %}
                    <li><a href="{{ url_for("orders") }}">Orders</a></li>                    
                {% endif %}
                <li><a href="{{ url_for("settings") }}">Settings</a></li>
                <li><a href="{{ url_for("logout") }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for("login") }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <small>&copy; 2021 <a>Team 0</a></small>
	</footer>
</body>
</html>
