{% extends "base.html" %}

{% block content %}
<h3> Log in </h3>
<form method="post" class="login-form">
    <p class="login-p">
        <label for="unm" class="login-label">Username:</label>
        <input id="unm" class="login-input" type="text" name="username" placeholder="Enter Username" required>
    </p>
    <br>
    <p class="login-p">
        <label for="pwd" class="login-label">Password:</label>
        <input id="pwd" class="login-input" type="password" name="password" placeholder="Enter Password" required>
    </p>
    <br>
    <input class="btn" type="submit" name="submit" value="Submit">
</form>
{% endblock %}
