{% extends "base.html" %}

{% block content %}
<h3> Log in </h3>
<form method="post" class="input-form">
    <p class="input-p">
        <label for="unm" class="input-label">Username:</label>
        <input id="unm" class="input-input" type="text" name="username" placeholder="Enter your username">
    </p>
    <br>
    <p class="input-p">
        <label for="pwd" class="input-label">Password:</label>
        <input id="pwd" class="input-input" type="password" name="password" placeholder="Enter your password">
    </p>
    <br>
    <input class="btn" type="submit" name="submit" value="Submit">
</form>
{% endblock %}
