body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.logo {
    width: 40px;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.login-form  { display: table;      }
.login-p     { display: table-row;  }
.login-label { display: table-cell; }
.login-input { display: table-cell; margin-left: 5px;}

input[type=submit] {
    font-family: inherit;
}

input[type=text] input[type=password] {
    border: 1px solid #eee;
}

.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
